<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <title>christ Mandate International - Faith-based Ministries</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="{% static 'img/general/favicon.ico'%}" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

  <!--  custom Stylesheet -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <style>
    .submit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      max-width: 100%;
      height: 60px;
      background-color: var(--bs-primary);
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      position: relative !important;
    }

    .submit-button .btn-content {
      display: flex;
      align-items: center;
    }

    .newsletter-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      background-color: var(--bs-primary);
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      position: relative;
    }

    .message-info {
      padding: 10px;
      visibility: hidden;
      opacity: 100;
      transition: all 0.2s;
      border-left: 8px solid var(--bs-primary);
      position: absolute;
      max-width: 100%;
      width: auto;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      text-wrap: wrap;
      background: white;
      font-size: .8rem;
      z-index: 1000;
      height: auto;
      max-height: 60px;
    }

    .message-info-donation {
      padding: 10px;
      visibility: hidden;
      opacity: 100;
      transition: all 0.2s;
      border-left: 8px solid var(--bs-primary);
      max-width: 50%;
      width: auto;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      text-wrap: wrap;
      background: white;
      font-size: .8rem;
      z-index: 1000;
      height: auto;
      max-height: 60px;
    }




    .loader {
      border: 2px solid #f3f3f3;
      border-top: 2px solid #3498db;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</head>

<body>
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->


  <!-- Navbar Start -->
  <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="top-bar text-white-50 row gx-0 align-items-center d-none d-lg-flex">
      <div class="col-lg-6 px-5 text-start">
        <a href="" style="border:; padding: 3px;"><small><i class=" me-2"></i>Become A Volunteer</small></a>
        <small class="ms-4"><i class="fa fa-envelope me-2"></i>inbox@christmandateinternational.com</small>
      </div>
      <div class="col-lg-6 px-5 text-end">
        <small>Follow us:</small>
        <a class="text-white-50 ms-3" href="https://www.facebook.com/profile.php?id=61555359751598&mibextid=LQQJ4d"><i
            class="fab fa-facebook-f"></i></a>
        <a class="text-white-50 ms-3" href="https://youtube.com/@CHRISTMANDATEINTERATIONAL?si=fuC6whExKigZahC0"><i
            class="fab fa-youtube"></i></a>
        <a class="text-white-50 ms-3"
          href="https://www.instagram.com/christmandateinternational?igsh=MW8xOGFwZHZ1djI1bw%3D%3D&utm_source=qr"><i
            class="fab fa-instagram"></i></a>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
      <a href="{% url 'home' %}" class="navbar-brand ms-4 ms-lg-0">
        <!-- <h1 class="fw-bold text-primary m-0">Chari<span class="text-white">Team</span></h1> -->
        <img src="{% static 'img/logo/3.png'%}" width="200px" alt="" />
      </a>
      <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="{% url 'home' %}" class="nav-item nav-link ">Home</a>
          <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
          <a href="{% url 'programs' %}" class="nav-item nav-link">Programs</a>
          <a href="{% url 'events' %}" class="nav-item nav-link">Events</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Media</a>
            <div class="dropdown-menu m-0">
              <!-- <a href="service.html" class="dropdown-item">Service</a> -->
              <a href="{% url 'gallery' %}" class="dropdown-item">Gallery</a>
              <a href="{% url 'videos' %}" class="dropdown-item">Videos</a>
              <!-- <a href="donate.html" class="dropdown-item">Donate</a> -->
              <!-- <a href="404.html" class="dropdown-item">404 Page</a> -->
            </div>
          </div>
          <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
        </div>
        <div class="d-none d-lg-flex ms-2">
          <a class="btn btn-outline-primary py-2 px-3 active" href="{% url 'donate' %}">
            Donate Now
            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
              <i class="fa fa-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar End -->


  <!-- Page Header Start -->
  <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
      <h1 class="display-4 text-white animated slideInDown mb-4">Donate</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
          <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
          <li class="breadcrumb-item text-primary active" aria-current="page">Donate</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->


  <!-- Donate Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Donate Now</div>
          <h1 class="display-6 mb-5">Thanks For The Results Achieved With You</h1>
          <p class="mb-0">
            Your generous donations make a profound impact through Christ Mandate International Outreach Ministries.
            Together, we've been able to feed the hungry, provide medical assistance, support those in financial crisis,
            and spread the transformative message of the gospel. Every contribution helps us continue our mission to
            embody
            the love and compassion of Jesus Christ, empowering individuals and communities worldwide.
            Thank you for partnering with us to make a difference. Your support truly changes lives.
          </p>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <div class="h-100 bg-secondary p-5">
            <form id="payment-form">
              <div class="row g-3">
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control bg-light border-0" id="full_name" name="full_name"
                      placeholder="Your Name" required>
                    <label for="name">Your Name</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="email" class="form-control bg-light border-0" id="email" name="email"
                      placeholder="Your Email" required>
                    <label for="email">Your Email</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control bg-light border-0" id="amount" name="amount"
                      placeholder="Desired Donation Amount" required>
                    <label for="amount" id="amount-label">Desired Donation Amount (₦)</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <select class="form-select bg-light border-0" id="donate_as" name="donate_as"
                      aria-label="Donate as">
                      <option value="" disabled selected>Donate as</option>
                      <option value="individual">Individual</option>
                      <option value="ministry">Ministry</option>
                      <option value="organisation">Organisation</option>
                    </select>
                    <label for="donate-as">Donate as</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <select class="form-select bg-light border-0" id="currency" name="currency" aria-label="Currency">
                      <option value="NGN" selected>₦ Naira</option>
                      <option value="USD">$ Dollar</option>
                    </select>
                    <label for="currency">Currency</label>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" id="donateButton" class="submit-button">
                    <div class="btn-content">
                      Donate Now
                      <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                    </div>
                  </button>
                  <div id="donationMessageInfo" class="message-info-donation mt-2">
                    <span class="text-danger">message from donation </span>
                  </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!-- Donate End -->



  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <!-- <h1 class="fw-bold text-primary mb-4">Chari<span class="text-white">Team</span></h1> -->
          <img class="mb-4" src="{% static 'img/logo/footer.png'%}" width="200px" alt="" />
          <p>
            Christ Mandate International Outreach Ministries, where our dynamic Christian evangelical outreach is fueled
            by a passionate commitment to follow Jesus wherever He leads.
          </p>
          <div class="d-flex pt-2">
            <!-- <a class="btn btn-square me-1" href=""><i class="fab fa-twitter"></i></a> -->
            <a class="btn btn-square me-1"
              href="https://www.facebook.com/profile.php?id=61555359751598&mibextid=LQQJ4d"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square me-1" href="https://youtube.com/@CHRISTMANDATEINTERATIONAL?si=fuC6whExKigZahC0"><i
                class="fab fa-youtube"></i></a>
            <a class="btn btn-square me-0"
              href="https://www.instagram.com/christmandateinternational?igsh=MW8xOGFwZHZ1djI1bw%3D%3D&utm_source=qr"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-light mb-4">Address</h5>
          <p><i class="fa fa-map-marker-alt me-3"></i>10 Delight court estate, ikota GRA, inside ikota villa estate</p>
          <p><i class="fa fa-envelope me-3"></i> inbox@christmandateinternational.com</p>
          <p><i class="fa fa-phone-alt me-3"></i>+234 701-0881-815</p>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-light mb-4">Quick Links</h5>
          <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
          <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
          <a class="btn btn-link" href="{% url 'programs' %}">Our Programs</a>
          <!-- <a class="btn btn-link" href="">Terms & Condition</a> -->
          <a class="btn btn-link" href="{% url 'events' %}">Events</a>
          <a class="btn btn-link" href="{% url 'gallery' %}">Gallary</a>
          <a class="btn btn-link" href="{% url 'donate' %}">Make Donation</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Newsletter</h5>
          <p>Stay connected and informed with our newsletter! Join our community and journey with us as we share
            the latest news and opportunities to be part of God's work around the world. </p>
          <div class="position-relative mx-auto" style="max-width: 400px;">
            <form id="newsletter-form" method="post" action="{% url 'subscribe_newsletter' %}">
              {% csrf_token %}
              <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="email" name="email"
                placeholder="Your email" required>
              <button type="submit" type="submit" id="newsletterButton" class="newsletter-button mt-2">
                SignUp
              </button>
            </form>
            <div id="newsletter-message" class="message-info">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid copyright">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">Christ Mandate International Outreach Ministry, All Right Reserved.
                    </div> -->
          <div class="col-md-6 text-center text-md-end">
            &copy; <a href="{% url 'home' %}">Christ Mandate International Outreach Ministry, All Right Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

  <!-- WhatsApp Button -->
  <a href="https://wa.me/+2347010881815" target="_blank" class="whatsapp-button">
    <i class="fab fa-whatsapp"></i>
  </a>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Handle newsletter form submission
      document.getElementById('newsletter-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const submitNewsletterButton = document.getElementById("newsletterButton");
        const newsletterMessageDiv = document.getElementById('newsletter-message');

        submitNewsletterButton.innerHTML = '<span class="loader"></span>';

        try {
          const response = await fetch(form.action, {
            method: 'POST',
            headers: {
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData
          });

          const data = await response.json();

          if (response.ok) {
            newsletterMessageDiv.innerHTML = `<span class="text-success">${data.message}</span>`;
            form.reset();
          } else {
            const errorMessages = data.errors
              ? Object.values(data.errors).flat().join('<br>')
              : 'An unexpected error occurred.';
            newsletterMessageDiv.innerHTML = `<span class="text-danger">${errorMessages}</span>`;
            // form.reset();
          }
        } catch (error) {
          newsletterMessageDiv.innerHTML = `<span class="text-danger">An error occurred while processing your request.</span>`;
          form.reset();
        } finally {
          // Restore the button content
          submitNewsletterButton.innerHTML = 'SignUp';

          // Show message div
          newsletterMessageDiv.style.visibility = 'visible';
          newsletterMessageDiv.style.opacity = '1';
          newsletterMessageDiv.style.transform = 'translateX(-50%) scale(1)';

          // Hide message div after 5 seconds
          setTimeout(() => {
            newsletterMessageDiv.style.visibility = 'hidden';
            newsletterMessageDiv.style.opacity = '0';
            newsletterMessageDiv.style.transform = 'translateX(-50%) scale(.8)';
          }, 5000);
        }
      });


      // Handle currency change for amount label
      document.getElementById('currency').addEventListener('change', (event) => {
        const selectedCurrency = event.target.value;
        const amountLabel = document.querySelector('label[for="amount"]');
        const symbol = selectedCurrency === 'NGN' ? '₦' : '$';
        amountLabel.innerHTML = `Desired Donation Amount (${symbol})`;
      });

      // Handle donation form submission
      document.getElementById('payment-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const submitDonationButton = document.getElementById('donateButton');
        const donationMessageDiv = document.getElementById('donationMessageInfo');

        submitDonationButton.innerHTML = '';
        const loader = document.createElement('div');
        loader.className = 'loader';
        submitDonationButton.appendChild(loader);  // Append loader to the submit button

        try {
          const response = await fetch('{% url "initiate_payment" %}', {
            method: 'POST',
            headers: {
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData
          });

          const data = await response.json();

          if (response.ok && data.payment_url) {
            donationMessageDiv.innerHTML = `<span class="text-success">Redirecting to Payment </span>`;
            form.reset();
            window.location.href = data.payment_url;
          } else {
            const errorMessages = data.error
            donationMessageDiv.innerHTML = `<span class="text-danger">${errorMessages}</span>`;
          }
        } catch (error) {
          donationMessageDiv.innerHTML = `<span class="text-danger">An error occurred while processing your request.</span>`;
        } finally {
          submitDonationButton.innerHTML = `
        <div class="btn-content">
          Donate Now
          <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
            <i class="fa fa-arrow-right"></i>
          </div>
        </div>`;
          // Show message div
          donationMessageDiv.style.visibility = 'visible';
          donationMessageDiv.style.opacity = '1';
          donationMessageDiv.style.transform = 'translateX(-50%) scale(1)';

          // Hide message div after 5 seconds
          setTimeout(() => {
            donationMessageDiv.style.visibility = 'hidden';
            donationMessageDiv.style.opacity = '0';
            donationMessageDiv.style.transform = 'translateX(-50%) scale(.8)';
          }, 5000);
        }
      });
    });
  </script>
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'lib/wow/wow.min.js'%}"></script>
  <script src="{% static 'lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'lib/parallax/parallax.min.js'%}"></script>

  <!-- Template Javascript -->
  <script src="{% static 'js/main.js'%}"></script>
</body>

</html>